# this will prevent anyting to be commited from this folder and its subfolders
*.lo
*.la
*.o
.deps
.libs
Makefile
autom4te.cache
config.log
config.status
include/log4cplus/config.h
include/log4cplus/config/defines.hxx
include/log4cplus/config/stamp-h2
include/log4cplus/stamp-h1
libtool
loggingserver/loggingserver
tests/appender_test/appender_test
tests/configandwatch_test/configandwatch_test
tests/customloglevel_test/customloglevel_test
tests/fileappender_test/fileappender_test
tests/filter_test/filter_test
tests/hierarchy_test/hierarchy_test
tests/loglog_test/loglog_test
tests/ndc_test/ndc_test
tests/ostream_test/ostream_test
tests/patternlayout_test/patternlayout_test
tests/performance_test/performance_test
tests/priority_test/priority_test
tests/propertyconfig_test/propertyconfig_test
tests/socket_test/socket_test
tests/thread_test/thread_test
tests/timeformat_test/timeformat_test

